*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Times New Roman", Times, serif;
}

.center{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
    flex-wrap: wrap;
}

header{
    background-color: white;
    padding: 20px 0;
    border-bottom: 1px solid rgb(200,200,200);
}

.logo {
    color: #16507b;
}

.logo h2 {
    font-weight: normal ;
    font-size: 22px;
}

.link{
    text-decoration: none;
    color: #007bff;   
    font-size: 18px;
}

.link:hover{
    color: #16507b;
}
.menu{
    width: 80%;  
    text-align: right;
}

.menu a {
    color: #16507b;
    text-decoration: none;
    margin-right: 20px;
    transition: 0.4s;
}

.menu a:hover{
    color: #007bff;
}

.menu .btn-unidades{
    background-color: #007bff;
    display: inline-block;
    padding: 8px 16px;
    color: white;
    border-radius: 8px;
}

.menu .btn-unidades:hover{
    background-color: #124265;
}


/*
Section
*/

section.main{
    background-image: url('imagens/section-img.jpg');
    padding: 70px 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat ;
    background-attachment: fixed;

}

.main_cta{
    width: 100%;
    margin: 60px 0;
    text-align: center;
}

.main_cta h2{
    color: #16507b;
    font-size: 40px;
}

.main_cta p{
    color: gray;
    font-size: 19px;
    margin: 10px 0;
}

.main_cta button{
    background-color: #007bff;
    display: inline-block;
    padding: 8px 30px;
    color: white;
    border-radius: 8px;
    font-size: 18px;
    border: 0; 
    cursor: pointer;   
}

.diferenciais{
    display: flex;
}

.diferencial-single{
    border-radius: 10px;
    background-color:white;
    width: 23%;
    margin-right: 2%;
    padding: 50px 20px;
}

.diferencial-single i{
    color: #124265;
    font-size: 23px;
   
}

.diferencial-single h2{
    color: #124265;
    margin: 10px 0;
    font-size: 17px;
}

.diferencial-single p{
    color: gray;
    font-size: 14px;
    line-height: 30px;
}

section.sobre{
    width: 100%;
    padding: 80px 0;
}

.principal-sobre{
    width: 100%;
    text-align: center;
}

.principal-sobre h2{
    color: #124265;
    text-transform: uppercase;
}

.principal-sobre p {
    font-size: 14px;
    color: gray;
    margin: 10px 0;
}

.conteudo-sobre{
    display: flex;
}


.conteudo-sobre p{
    margin: 0 20px;
    color: #444444;
}

.conteudo-sobre span{
    display: inline-block;
    width: 100%;
    margin-top: 12px ;

}
.conteudo-sobre i{
    color: #124265;
    font-size: 10px;
}

.conquista-single{
    width: 22%;
    margin-right: 3%;
    text-align: center;  
}

.conquista-single h2{
    color: #124265;
    font-size: 30px;
}

section.conquistas{
    background-color: #f8fbfe;
    padding: 20px 0;
}

.conquista-single img{
    max-width: 100%;
    width: 50%;
}



.conquista-single img{
    filter: grayscale(100%);
    transform:scale(1,1);
    transform: 1s;
}
.conquista-single img:hover{
    transform:scale(1.1,1.1);
    filter: grayscale(0);
    
}
/* Aqui começa a pagina de informática */
.container-info {
    background-color: #F8F8FF;
    height: 90%;


}
.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
  }

.push {
    height: 55px;
  }

.content {
    min-height: 100%;
  }

.content-inside {
    padding: 20px;
    padding-bottom: 50px;
  }

.col-12{
    text-align: center;
}

.clearfix img{
    width: 40%;
}
.clearfix{
    margin: 2px;
    padding: 2px;
}

.titu-info{
    margin: 2px;
    padding: 2px;
    text-transform: uppercase;
    color: #124265;

}

/* Sobre 2 */

section .sobre2{
    padding: 40px 0;
}

.sobre2-img{
    width: 50%;
    padding: 0 50px;
}

.sobre2-img img{max-width: 100%;}

.sobre2-empresa{
    width: 50%;
}

.sobre2-empresa h2{
    color: #124265;
    margin-bottom: 20px;
}
.sobre2-empresa p{
    color: #444;
    font-size: 14px;
    margin-bottom: 14px;
}


/* rodape */

.page-footer{
    width: 100%;
    text-align: center;
    background-color: #375b77;
    color: #F8F8FF;   
}
.page-footer li{
    margin:1% 2%;
    display: inline-block;
}

.page-footer img{
    width: 30px;
}

.page-footer img:hover{
    background-color: #F8F8FF;
    width: 35px;
}


.page-footer h2{
    font-size: 18px;
    font-weight: lighter;
    text-align: center;
    text-transform: uppercase;
    padding: 4px;

}

.clearfix {
    background: #F8F8FF
}

.contatos-pagina{
    text-align: center;

}

.contatos-pagina p {
    font-size: 18px;
    color: #124265;
    padding: 2px;
    margin: 4px;
}

.contatos-pagina img{
    width: 30px;
    padding: 2px;
}